<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/profile.php?id=100006844215969" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/shubhamgupta9891/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-linkedin btn btn-link " href="https://linkedin.com/in/shubhamgupta9891" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/shubh1998" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>