@use "tailwindcss";

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

// #sticky-card-1 {
//   --index: 1;
// }

// #sticky-card-2 {
//   --index: 2;
// }

// #sticky-card-3 {
//   --index: 3;
// }

// #sticky-card-4 {
//   --index: 4;
// }

// #sticky-card-5 {
//   --index: 5;
// }

// #sticky-card-6 {
//   --index: 6;
// }

// #sticky-card-7 {
//   --index: 7;
// }

// #sticky-card-8 {
//   --index: 8;
// }

// #sticky-card-9 {
//   --index: 9;
// }

// #sticky-card-10 {
//   --index: 10;
// }

@media (min-width: 1024px) {
  #sticky-card-1,
  #sticky-card-2 {
    --index: 1;
  }

  #sticky-card-3,
  #sticky-card-4 {
    --index: 1;
  }

  #sticky-card-5,
  #sticky-card-6 {
    --index: 1;
  }

  #sticky-card-7,
  #sticky-card-8 {
    --index: 1;
  }

  #sticky-card-9,
  #sticky-card-10 {
    --index: 1;
  }
}

.sticky-card {
  // top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}
