<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Gammastack</div>
                                        <div class="h6 mt-0 title">Solution Engineer (2021-03 - Present)</div>
                                        <p align="justify">GammaStack provides solutions for Fantasy Sports. Here, I am Working as a <b>Solution Engineer</b> for GammaStack, where my responsibilities are creating backend apis for the newly launched App and develop a Frontend for web-aaps using React JS, Redux, Material UI.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">FullStack Development</li>
                                                <li class="non_list">Interfaces with clients and identifies their needs</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Node JS</li>
                                                        <li class="non_list">Git</li>
                                                        <li class="non_list">React JS</li>
                                                        <li class="non_list">Redux</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">MobX</li>
                                                        <li class="non_list">AWS (EC2 / S3)</li>
                                                        <li class="non_list">Postgre Sql</li>
                                                        <li class="non_list">NGINX</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Engineerbabu Pvt Ltd, Indore</div>
                                        <div class="h6 mt-0 title">Backend Developer (October 2019 - November 2020)</div>
                                        <p align="justify">
                                            Worked as a <b>Backend Developer</b>, where my responsibilities was creating all the backend api for the newly launched App
                                            and their Admin panels Based Developer-Client product on Node js, used Firebase for push notification, passport js for
                                            JWT Authentication, SendGrid Library to send emails, MSG91 and Twilio Library to send sms, used Knex SQL Builder tool
                                            along with Objection Js for managing Postgres based Database.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Node.JS</li>
                                                        <li class="non_list">Angular 8+</li>
                                                        <li class="non_list">Postgre Sql</li>
                                                        <li class="non_list">MySql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Express JS</li>
                                                        <li class="non_list">Knex JS</li>
                                                        <li class="non_list">Objection JS</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">SB Infotech Pvt Ltd</div>
                                        <div class="h6 mt-0 title">Intern (June 2018 - July 2018)</div>
                                        <p align="justify">Worked as <b>Web Developer</b> for SB Infotech Pvt. Ltd. where my responsibilities was creating FE and BE for web apps using HTML5, CSS3, Javascript and Core PHP.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">HTML 5</li>
                                                        <li class="non_list">CSS 3</li>
                                                        <li class="non_list">Javascript</li>
                                                        <li class="non_list">Bootstrap</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Core PHP</li>
                                                        <li class="non_list">XAMPP</li>
                                                        <li class="non_list">MySql</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
