<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">I am Full-Stack developer with holistic knowledge of web development, having 2+ years of experience.</p>
                            <!-- <p align="justify">From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.</p> -->
                            <p align="justify">I specialize in JavaScript and have professional experience working with Node JS, Express JS, Angular 8+, React JS. I also have an experience with Agile Methodology, relational databases like- MySQL, PostgreSQL.</p>
                            <p align="justify">Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.</p>
                            <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">January 27, 1998</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8"><a href="mailto:shubhamgupta9891@gmail.com">shubhamgupta9891@gmail.com</a></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8"><a href="tel:+918889031968">+91 8889031968</a> / <a href="tel:+919399192353">9399192353</a></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">#46, Shastri Nagar, Bistan Road, Khargone (M.P.)</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">English, Hindi</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

