<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2019</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">SD Bansal College Of Engineering</h4>
                                <ul>
                                    <li> Affilated by CH Edge Makers for <b>Meritious Performance</b> in Academics </li>
                                    <li>Completed B.E in Computer Engineering with <b>7.33 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>June 2018-July 2018</p>
                        <div class="h5">Internship</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Intern</div>
                            <h4 class="category">SB Infotech, Indore</h4>
                            <ul>
                                    <li>Completed  <b>Internship</b> in <b>Web Development</b>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014-2015</p>
                        <div class="h5">Higher Secondary</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Physics + Chemistry + Maths</div>
                                <h4 class="category">Devi Rukmani Higher Secondary School, Khargone</h4>
                                <ul>
                                        <li>Completed <b>12th standard</b> with <b>PCM</b> with <b>71.44% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2013</p>
                        <div class="h5">Secondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School</div>
                                <h4 class="category">Devi Rukmani Higher Secondary School, Khargone</h4>
                                <ul>
                                        <li>Completed  <b>10th standard</b> with <b>75.66%</b> aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               