<div class="section" id="projects">
  <div class="container">
    <div class="h4 text-center mb-4 title">Let's see my work with Projects</div>

    <div class="row">
      <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <a href="https://www.padsplit.com/" target="_blank">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/images/padsplit-logo.svg" alt="padsplit" class="project_image">
              <p>Project Location - Atlanta, GA, US</p>
              <a href="https://www.padsplit.com/">https://www.padsplit.com</a>
            </div>
            <div class="flip-card-back">
              <div style="background-color: white;">
                <img src="/assets/images/padsplit-banner.svg" class="padsplit_back_logo">
              </div>
              <div id="content">
                <h5>PadSplit is an affordable housing tech startup.</h5>
                <p class="info"> It provides a house-sharing service for the workforce and offers clean, modern furnished rooms for
                  rent to community members at
                  an affordable weekly fee, including utilities, WiFi, laundry access etc.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <a href="https://truupit.com/" target="_blank">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/images/truupit-logo-circle.svg" alt="Truupit" class="project_image">
              <p>Project Location - North Carolina, US</p>
              <a href="https://truupit.com/">https://truupit.com</a>
            </div>
            <div class="flip-card-back">
              <img src="/assets/images/truupit-logo-purple.svg" alt="Truupit" class="truupit_back_logo">
              <div id="content">
                <h5>Truupit is a social shopping web app,</h5>
                <p class="info">It works with some of shopify stores. By this app, you can create
                  Truup of you and your friends and save up to 25 to 50% off on selected products.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <a href="https://framebazaar.com" target="_blank">
          <div class="flip-card-inner" style="cursor: pointer;">
            <div class="flip-card-front">
              <img src="/assets/images/framebazaar-icon-192x192.png" alt="framebazaar" class="project_image">
              <p>Project Location - Maharashtra, India</p>
              <a href="https://framebazaar.com">https://framebazaar.com</a>
            </div>
            <div class="flip-card-back">
              <img src="/assets/images/framebazaar-logo.png" alt="framebazaar" class="framebazaar_back_logo">
              <div id="content">
                <h5>Framebazaar is India's best and fastest online custom photo and picture framing company.</h5>
                <p class="info"> It provides the highest quality, sustainable frames that are made of premium
                  wood
                  and metal at the best price..</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <a href="https://butterflyapp.co/" target="_blank">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="https://i.ibb.co/wBKFhC5/butterfly.png" alt="ButterflyApp" class="project_image">
              <p>Project Location - Switzerland</p>
              <a href="https://butterflyapp.co/">https://butterflyapp.co</a>
            </div>
            <div class="flip-card-back">
              <img src="https://i.ibb.co/hKNrxz7/butterfly-banner.png" alt="Favos" class="favos_image">
              <div id="content">
                <h5>Best Mobile App for social butterflies</h5>
                <p class="info">The coolest application that enables you to connect with your friends outings and
                  discover their hangout
                  places all over
                  the world. The app enables you to send “where are you?” and “come-over” requests to any
                  friend or group of
                  friends with just one
                  click.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <a href="https://apps.apple.com/nz/app/favos/id1513857259" target="_blank">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="https://i.ibb.co/xzghpHW/favos-cropped.png" alt="favos-cropped" class="project_image">
              <p>Project Location - New Zealand</p>
              <a href="https://apps.apple.com/nz/app/favos/id1513857259">https://favos.co</a>
            </div>
            <div class="flip-card-back">
              <img src="/assets/images/favos-logo.png" alt="Favos" class="favos_image" height="68">
              <div id="content">
                <h5>The Future...Now! Contactless ordering solution</h5>
                <p class="info">Favos Provides Contactless ordering solution for the hospitality industry. Favos strongly believes that modern technology will define the future of the hospitality
                  and retail sector in the times to come. Favos also provide some cool features like Contactless Dining, Table
                  Reservation, Pick up, Delivery</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="flip-card-inner" style="cursor: pointer;">
          <div class="flip-card-front">
            <img src="https://i.ibb.co/7G7XyHP/tiffin-plate.png" alt="tiffin-plate" class="project_image">
            <p>Project Location - New Zealand</p>
            <a href="#">https://tiffinplate.com</a>
          </div>
          <div class="flip-card-back">
            <p class="waitty">Tiffin-Plate (Waitty)</p>
            <div id="content">
              <h5>The Food Ordering App</h5>
              <p class="info">Tiffin-Plate (Waitty) provides contactless ordering solution for the hospitality
                industry.
                Waitty provide cool features like - food ordering using QRCodes, easy order placement
                and tracking.
                App flow concentrates to provide best food facilities by providing different order types
                (DineIn, Pickup).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
