<div class="section" id="projects">
    <div class="container">
        <div class="h4 text-center mb-4 title">Let's see my work with Projects</div>

        <div class="row">
            <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <a href="https://favos.co" target="_blank">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="circle">FAVOS</div>
                            <!-- <p class="design_favos">FAVOS</p> -->
                            <p>Project Location - New Zealand</p>
                            <a href="https://favos.co">https://favos.co</a>
                        </div>
                        <div class="flip-card-back">
                            <img src="https://easyorder-s3.s3.ap-southeast-2.amazonaws.com/user_image/1588315479773_Favoslogo.png"
                                alt="Favos" class="favos_image">
                            <h5>The Future...Now! Contactless ordering solution for the hospitality industry</h5>
                            <p>Favos strongly believes that modern technology will define the future of the hospitality and retail sector in
                            the times to come. Favos also provide some cool features like Contactless Dining, Table Reservation, Pick up, Delivery</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <a href="https://butterflyapp.co/" target="_blank">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://i.ibb.co/wBKFhC5/butterfly.png" alt="ButterflyApp" class="butterfly_image">
                            <p>Project Location - Switzerland</p>
                            <a href="https://butterflyapp.co/">https://butterflyapp.co/</a>
                        </div>
                        <div class="flip-card-back">
                            <img src="https://i.ibb.co/hKNrxz7/butterfly-banner.png" alt="Favos" class="favos_image">
                            <h5>Best Mobile App for social butterflies</h5>
                            <p>The coolest application that enables you to connect with your friends outings and discover their hangout
                                places all over
                                the world. The app enables you to send “where are you?” and “come-over” requests to any friend or group of
                                friends with just one
                                click.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="flip-card col-md-4" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <a href="http://www.waitty.com/" target="_blank">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="circle_waitty">Tiffin-Plate</div>
                            <p>Project Location - New Zealand</p>
                            <a href="http://www.waitty.com/">http://www.waitty.com/</a>
                        </div>
                        <div class="flip-card-back">
                            <p class="waitty">Tiffin-Plate (Waitty)</p>
                            <h5>The Food Ordering App</h5>
                            <p>Tiffin-Plate (Waitty) provides contactless ordering solution for the hospitality industry.
                            Waitty provide cool features like - food ordering using QRCodes, easy order placement and tracking.
                            App flow concentrates to provide best food facilities by providing different order types (DineIn, Pickup).</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>