<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/introduction.jpg');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <a href="#">
                        <img src="assets/images/profile.jpg" alt="Image" />
                    </a>
                </div>
                <!-- <div class="h2 title">Shubham Gupta </div>
                <p class="category text-white">Full STack Developer</p> -->
                <ngx-typed-js [strings]="['Shubham Gupta', 'a Fullstack Developer']" [loop]="true" [typeSpeed]="75" [backSpeed]="75" [backDelay]="1000">
                    <h2>Hello, I am <span class="title typing"></span></h2>
                </ngx-typed-js>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                <a class="btn btn-primary"href="assets/SHUBHAM_CV_(Updated_Latest).pdf" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/profile.php?id=100006844215969" target="_blank" rel="tooltip" title="Follow me on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/shubhamgupta9891/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://linkedin.com/in/shubhamgupta9891" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/shubh1998" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/shubhamgupta9891" target="_blank" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="https://googleplus.com/shubhamgupta9891" target="_blank" rel="tooltip" title="Follow me on Google+">
                        <i class="fa fa-google-plus"></i>
                    </a> -->
                </div>
            </div>
        </div>
        </div>
    </div>
</div>